.App {
  text-align: center;
}

.Blog {
  background : black;
  width : 100%;
  display : flex;
  color : white;
  padding : 20px;
  font-weight : 600;
  font-size : 20px;
  align-items: center;
  justify-content: center;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

/*li {*/
/*  font-size: 20px;*/
/*  color : white;*/
/*  float:left;*/
/*  margin: 0 20px;*/
/*}*/

img {
  display : flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
}
.Banner
{
  display : flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 50px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: 300px;
}

/* 예시 */
.a{
  display : flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 500px;
  height:400px;
  margin: 0;
  padding: 0;
}
.inputarea{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color : black;
  width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
